Fetch and verify metadata: error message uses incorrect RFC number

When a GitHub repo is not provided, and the user clicks the "Fetch and verify metadata" button on the Publication tab, the error message uses the incorrect RFC number. For example:

- draft-ietf-raw-architecture(RFC 9912): "Error: Details: No repository URL for RfcToBe 9784"
- draft-ietf-raw-technologies(RFC 9913): "Error: Details: No repository URL for RfcToBe 9775"
- draft-ietf-roll-dao-projection(RFC 9914): "Error: Details: No repository URL for RfcToBe 9770"

The error is reporting the pk of the RfcToBe, not any `rfc_number` that might be set for the RfcToBe - the error could be augmented to include the RFC number - something like `No repository URL for RfcToBe 9770 (rfc9914)`