Handling unused or retired subseries numbers (e.g., BCP 1 is historic and STD 1 is retired)

The current production database uses state_id="0" to indicate that a BCP or STD number is no longer used (was retired or not issued):
```
SELECT `doc-id`, title, `pub-date` FROM `index` WHERE state_id="0" ORDER BY `doc-id`;

doc-id		title							                        pub-date
BCP0001 	[Was Best Current Practices.  Now Historic.]			NULL
BCP0002 	[Was Addendum to RFC 1602 -- Variance Procedure. Now Historic.]	NULL
BCP0012 	[Was Internet Registry IP Allocation Guidelines. Now Historic.] NULL
BCP0094 	[BCP number 94 is retired.  It was mistakenly assigned to RFC 3934. RFC 3934 is part of BCP 25.] 		NULL
BCP0115 	[BCP number 115 is retired. It was mistakenly assined to RFC 4395 is BCP 35.]
STD0001 	[STD number 1 is retired. It was "Internet Official Protocol Standards". See BCP 9 / RFC 7100 for more information.] 	NULL
STD0002 	[Reserved for Assigned Numbers. See RFC 1700 and RFC 3232.] 	NULL
STD0004 	[Reserved for Router Requirements. See RFC 1812.] 		    NULL
STD0012 	[Reserved for Network Time Protocol (NTP). See RFC 1305.] 	NULL
STD0014 	[Was Mail Routing and the Domain System. Now Historic.] 	NULL
STD0018 	[Was Exterior Gateway Protocol (RFC 904). Now Historic.] 	NULL
STD0034 	[Was Routing Information Protocol (RIP). Replaced by STD 56.]	NULL
```
Need to determine how to present this information to editors and users.